<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922256000367-u9kgisrv0d2c9buuo8al8u294qgljrf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922256000367-u9kgisrv0d2c9buuo8al8u294qgljrf7</string>
	<key>API_KEY</key>
	<string>AIzaSyAVKhC-9Laj55wmlfZqc8fMeNrHWZj2wT4</string>
	<key>GCM_SENDER_ID</key>
	<string>922256000367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimmalasujith.esrkr</string>
	<key>PROJECT_ID</key>
	<string>esrkr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>esrkr-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922256000367:ios:dc35cbefa75b43b4d6949a</string>
</dict>
</plist>