<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1066742888174-91n4k2bpv945407sf0j4miv02b3mualu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6zDKwWcyIXZSDrSVF3-jQ85EZkK-wSuI</string>
	<key>GCM_SENDER_ID</key>
	<string>1066742888174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimmalasujith.esrkr</string>
	<key>PROJECT_ID</key>
	<string>esrkr-study-app</string>
	<key>STORAGE_BUCKET</key>
	<string>esrkr-study-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066742888174:ios:849dfaae8a550d1b6fe5ff</string>
	<key>DATABASE_URL</key>
	<string>https://esrkr-study-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>