<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913804156436-9jt8hskafd6q4jca75qbo2rmvvfai97e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913804156436-9jt8hskafd6q4jca75qbo2rmvvfai97e</string>
	<key>API_KEY</key>
	<string>AIzaSyC7QorjBu2p6HruF_4PJdIikwUu6QqRsSI</string>
	<key>GCM_SENDER_ID</key>
	<string>913804156436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimmalasujith.esrkr</string>
	<key>PROJECT_ID</key>
	<string>esrkr-f97aa</string>
	<key>STORAGE_BUCKET</key>
	<string>esrkr-f97aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913804156436:ios:7120737f948dc16371d101</string>
</dict>
</plist>